@import "tailwindcss";
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* theme styles*/

:root {
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f7f7f7f7;
  --primary-text-color: #000000;
  --sidebar-text-color: #f5f5f5;
  --sidebar-bg-color: #373A4D;
  --button-bg-color: #373A4D;
  --button-text-color: #f5f5f5;
  --secondary-text-color: #4b4c53;
  --toggle-box-shadow: inset 0 3px 6px rgb(0 0 0 / 0.3);
  --toggle-bg: #c7c7ce;
  --t-icon-bg: #f5f5f5;
  --triangle-bg: #e1dcdc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family:  "Poppins", sans-serif; */
  font-weight: 400;
}

[data-theme="dark"] {
  --primary-bg-color: #373A4D;
  --secondary-bg-color: #1B1F30;
  --primary-text-color: #f5f5f5;
  --sidebar-text-color: #000000;
  --sidebar-bg-color: #f5f5f5;
  --button-bg-color: #f5f5f5;
  --button-text-color: #000000;
  --secondary-text-color: #4b4c53;
  --toggle-bg: #4e5172;
  --t-icon-bg: #767bad;
  --triangle-bg: #1B1F30;
  --toggle-box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.3);
}
