@import "tailwindcss";
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* theme styles*/
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.recharts-responsive-container {
  min-width: 0;
  min-height: 300px;
}

:root {
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #E8E8E8;
  --primary-text-color: #000000;
  --primary-table-odd-bg: #f5f5f5;
  --primary-table-even-bg: #f5f5f5;
  --primary-table-odd-hdng: #F5F5F5;
  --sidebar-text-color: #f5f5f5;
  --sidebar-bg-color: #373a4d;
  --button-bg-color: #373a4d;
  --lgn-button-bg-color: #ffffff;
  --button-text-color: #f5f5f5;
  --secondary-text-color: #4b4c53;
  --toggle-box-shadow: inset 0 3px 6px rgb(0 0 0 / 0.3);
  --toggle-bg: #c7c7ce;
  --t-icon-bg: #f5f5f5;
  --triangle-bg: #e1dcdc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

[data-theme="dark"] {
  --primary-bg-color: #373a4d;
  --secondary-bg-color: #1b1f30;
  --primary-text-color: #f5f5f5;
  --primary-table-odd-bg: #373a4d;
  --primary-table-odd-hdng: #373a4d;
  --sidebar-text-color: #000000;
  --sidebar-bg-color: #f5f5f5;
  --button-bg-color: #f5f5f5;
  --lgn-button-bg-color: #ffffff;
  --button-text-color: #000000;
  --secondary-text-color: #4b4c53;
  --toggle-bg: #4e5172;
  --t-icon-bg: #767bad;
  --triangle-bg: #1b1f30;
  --toggle-box-shadow: inset 0 3px 6px rgba(255, 255, 255, 0.3);
}
