.blur-div {
  position: absolute;
  inset: 0;
  background: var(--primary-bg-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 0;
}
.blur-main-bg {
  position: relative;
  min-height: 100vh;
}
.papper-effct {
  clip-path: polygon(40px 0, 100% 0, 100% 100%, 0 100%, 0 40px);
}
.triangle {
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: var(--triangle-bg);
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(0, 0, 0);
}
.inpt-label {
  margin-bottom: 8px;
  display: block;
  font-size: small;
}
.input-box {
  background-color: #232a32;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 8px;
  font-size: smaller;
}
.input-parent {
  width: 100%;
}
.input-parent input::placeholder {
  color: white;
}
.hide-mobile {
  display: block;
}
.parent {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .input-parent {
    width: 250px;
  }
  .parent {
    justify-content: center;
    height: 60%;
  }
  .child-b input::placeholder {
    font-size: x-small;
  }
}
.login-btn {
  background-color: var(--lgn-button-bg-color);
  color: var();
  width: 100%;
  height: 50px;
  border-radius: 8px;
  font-size: x-small;
}
@media (min-width: 640px) {
  .inpt-label {
    font-size: medium;
  }
  .input-box {
    padding: 10px;
    font-size: small;
  }
  
  .login-btn {
    font-size: small;
  }
}
@media (min-width: 768px) {
  .inpt-label {
    font-size: large;
  }
  .input-box {
    padding: 15px;
    font-size: medium;
  }
  .login-btn {
    font-size: medium;
  }
}
@media (min-width: 1024px) {
  .input-box {
    padding: 20px;
  }
}
