/* .title-div {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
} */
/* theme toggle */
.theme-icon {
  color: var(--primary-text-color);
  font-size: 15px;
}
#toggle {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;
  background: var(--toggle-bg);
  border-radius: 50px;
  position: relative;
  box-shadow: var(--toggle-box-shadow);
  transition: background 0.3s ease;
}
.toggle-slider {
  background: var(--toggle-bg);
  border-radius: 34px;
  position: absolute;
  inset: 0;
  transition: background-color 0.3s;
}
.t-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: var(--t-icon-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.light {
  color: orange;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  transition: opacity 0.3s ease;
}
.dark {
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#toggle:checked + .toggle-slider .t-icon {
  left: 30px;
  background-color: var(--t-icon-bg);
}
#toggle:checked + .toggle-slider .light {
  opacity: 0;
}
#toggle:checked + .toggle-slider .dark {
  opacity: 1;
}
/* .dropdown */
.dropdown-prnt-div {
  width: 150px;
  height: 100%;
}
/* 
.dropdown-glass {
  background: rgba(255, 255, 255, 0.1); /* transparent white layer */
/* backdrop-filter: blur(10px); blur whatever is behind */
/* -webkit-backdrop-filter: blur(10px); Safari support */
/* border: 1px solid rgba(255, 255, 255, 0.2); subtle border */
/* border-radius: 8px; */
/* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); soft shadow */
/* padding-left: 5px;
  padding-right: 5px;
} */


/* Dropdown input wrapper */
.p-dropdown .p-dropdown-label {
  color: var(--pr-text-color); /* placeholder text color */
  padding-top: 0.5rem; /* adjust top padding */
}

/* Dropdown panel items */
.p-dropdown .p-dropdown-items .p-dropdown-item {
  color: var(--primary-text-color); /* dropdown item text color */
  background-color: var(--secondary-bg-color); /* optional: item bg */
}

.add-usr-hdng {
 color: var(--primary-text-color);
}

.dropdown-div2 {
  border-radius: 4px;
  height: 100%;
}
.options-div {
  position: absolute;
  margin-top: 4px;
  width: 150px;
  border-radius: 4px;
  background: var(--primary-bg-color);
  color: black;
  z-index: 9999;
}
.inner-options-div {
  position: absolute;
  margin-top: 4px;
  margin-left: 130px;
  width: 150px;
  border-radius: 8px;
  background: var(--primary-bg-color);
  border: 1px solid black;
  color: var(--primary-text-color);
  z-index: 9999;
}
.options-div-map {
  position: absolute;
  margin-top: 4px;
  width: 100%;
  border-radius: 8px;
  /* background: radial-gradient(circle at top, #3a6db0, #1b1b1b); */
  color: black;
  z-index: 9999;
}
.dropdown-li {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: small;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}
.dropdown-li:hover {
  background: rgba(186, 176, 176, 0.2);
}
.dropdown {
  position: relative;
  /* padding: 12px; */
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: var(--lgn-button-bg-color);
  color: black;
}
.dropdown-ul {
  padding-bottom: 4px;
  padding-top: 4px;
  overflow: hidden;
  border-radius: 4px;
}
/* .dropdown-li:hover {
  background-color: gray;
  font-weight: bold;
} */
/* add user */
.add-user-btn {
  width: 50px;
  height: 25px;
  font-size: xx-small;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  transition: all 0.1s ease;
  border: none;
}
.add-user-btn:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgb(0 0 0 / 0.2);
}
.add-usr-modal {
  background-color: var(--primary-bg-color);
  width: 350px;
}
.add-user-modal-prnt-div {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
/*  */
.overlay-blur-div {
  position: absolute;
  backdrop-filter: blur(4px);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0 0 0 / 30%);
}
/* button */
.edt-btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: xx-small;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  width: 50px;
  height: 25px;
}
.dlt-btn {
  background-color: #d33439;
  color: var(--button-text-color);
  font-size: xx-small;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  width: 50px;
  height: 25px;
}
.edt-btn:hover {
  background-color: #182075;
}
.dlt-btn:hover {
  background-color: #960505;
}
/*  */
/* search */
.search {
  padding: 8px;
  width: 100px;
  height: 25px;
  font-size: xx-small;
  background-color: var(--lgn-button-bg-color);
  color: black;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}
.role {
  font-size: xx-small;
  height: 100%;
  display: flex;
  align-items: center;
}
.search::placeholder {
  color: black;
}
/* table */
.tbldiv {
  border-radius: 12px;
  margin-bottom: 12px;
  flex: 1 1 0%;
  background-color: var();
  max-height: calc(100vh - 190px);
  overflow: auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  min-width: 0;
}
.tbl {
  min-width: 0;
  width: 100%;
  font-size: 8px;
  color: var(--primary-text-color);
  /* table-layout: fixed; */
  overflow-x: auto;
}
.tbl td,
.tbl th {
  min-width: 80px;
}
@media (max-width: 740px) {
  .tbl {
    overflow-y: auto;
  }
}
.tblhead {
  position: sticky;
  top: 0%;
  z-index: 10;
  background-color: var(--primary-table-hdng);
}
.tblhdng {
  padding: 12px;
  text-align: left;
}
.tblhdng,
.tbl td {
  word-break: break-word;
  overflow-wrap: anywhere;
}
.bg-e-o:nth-child(even) {
  background-color: var(--primary-table-odd-bg);
}
/*  */

/* custom dropdown */
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.2s ease;
}

.custom-select.open + .custom-arrow {
  transform: translateY(-50%) rotate(180deg);
}

/* Option styling */
.custom-select option {
  border-radius: 4px;
  padding: 8px;
}

/*  */

@media (min-width: 640px) {
  .search {
    padding: 12px;
    width: 200px;
    height: 35px;
    background-color: var(--lgn-button-bg-color);
    color: black;
    font-size: small;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }
  .add-usr-modal {
    background-color: var(--primary-bg-color);
    width: 100%;
  }
  .role {
    font-size: small;
  }
  .add-user-btn {
    width: 100px;
    height: 35px;
    font-size: small;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: all 0.1s ease;
    border: none;
  }
  .tbl {
    font-size: 10px;
  }
  .theme-icon {
    color: var(--primary-text-color);
    font-size: 20px;
  }
  .edt-btn,
  .dlt-btn {
    font-size: small;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    width: 60px;
    height: 30px;
  }
}
@media (min-width: 768px) {
  .tbl {
    font-size: 12px;
    border-collapse: collapse;
  }
  .dropdown {
    width: auto;
  }
  .theme-icon {
    color: var(--primary-text-color);
    font-size: 30px;
  }
}

/* analysis page */

.btn {
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: x-small;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  transition: all 0.1s ease;
  border: none;
}
.btn2 {
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: x-small;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 3px;
  cursor: pointer;
  height: 25px;
  transition: all 0.1s ease;
  border: none;
}

@media (min-width: 640px) {
  .btn {
    font-size: small;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    transition: all 0.1s ease;
    border: none;
  }
  .btn2 {
    font-size: small;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    height: 55px;
    width: 107px;
  }
}
