.sidebar-div {
  border-radius: 2px;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 12px;
  color: white;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 150ms;
  font-weight: 600;
}
.sidebar {
  height: 100vh;
  ove
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--sidebar-bg-color);
  transition-property: all;
  transition-duration: 300ms;
  /* overflow: hidden; */
}
.sidebar:hover {
  width: 200px;
}
.sidebar:hover .sidebar-text {
  display: inline;
  transition: width 0.3ms ease;
}
.home-main-div {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  transition-property: all;
  transition-duration: 300ms;
}
.home-bg {
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);
}
.sidebar-div:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
.icons {
  font-size: 15px;
  flex-shrink: 0;
  color: var(--sidebar-text-color);
}
.sidebar-text {
  font-size: 6px;
  white-space: nowrap;
  display: none;
  color: var(--sidebar-text-color);
}
@media (min-width: 640px) {
  .icons {
    font-size: 18px;
  }
  .sidebar-text {
    font-size: 8px;
  }
  .sidebar-div {
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .icons {
    font-size: 20px;
  }
  .sidebar-text {
    font-size: 10px;
  }
  .sidebar-div {
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  .sidebar-div {
    border-radius: 2px;
    height: 35px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 12px;
    color: white;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 150ms;
    font-weight: 600;
  }
}
