.d-card {
  border-radius: 2px;
  background-color: var(--primary-bg-color);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.d-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}
.big-card {
  border-radius: 16px;
  min-height: 200px;
  padding-top: 10px;
  padding-left: 10px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0.05);
  background-color: rgb(225, 232, 232);
}
.big-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.apply-btn {
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease;
  border: none;
}
.apply-btn:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgb(0 0 0 / 0.2);
}
@media (min-width: 740px) {
  .apply-btn {
    font-size: small;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
@media (min-width: 100px) {

}
