.card {
  border-radius: 16px;
  background-color: var(--primary-bg-color);
  min-height: 150px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-left: 10px;
}
/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
} */
.big-card {
  border-radius: 16px;
  min-height: 200px;
  padding-top: 10px;
  padding-left: 10px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0.05);
  /* background-color: rgb(225, 232, 232); */
}
.big-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
